<h1 class="mb-4">新規登録</h1>
<div class="container">
<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
   <%= f.label :name,'名前',class: 'form-label' %>
   <%= f.text_field :name,class: 'form-control',autofocus: true %>
   </div>

  <div class="mb-3">
    <%= f.label :email,'メールアドレス',class: 'from-label' %>
    <%= f.email_field :email, class: 'form-control',autofocus: true, autocomplete: "email" %>
  </div>

  <div class="mb-3">
    <%= f.label :password,'パスワード',class: 'form-label' %>
    <%= f.password_field :password, class: 'form-control',autocomplete: "new-password" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation,'パスワード確認',class: 'form-label' %>
    <%= f.password_field :password_confirmation,class: 'form-control', autocomplete: "new-password" %>
  </div>

  <%=f.submit "登録",class: 'btn btn-success'%>
<% end %>
</div>


