<h1>管理者ダッシュボード</h1>
<table>
<thead>
<tr>
<th>ID</th>
<th>名前</th>
<th>メールアドレス</th>
<th>アクション</th>
</tr>
</thead>
<tbody>
<% @users.each do |user|%>
  <tr>
  <td><%=user.id%></td>
  <td><%=user.name%></td>
  <td><%=user.email%></td>
  <td>
  <%=link_to '詳細',admin_user_path(user)%>
 <%= link_to '削除する', delete_admin_user_path(user), method: :delete, data: { confirm: "本当に削除しますか？" } %>
  </td>
 </tr>
  <%end%>
  </tbody>
  </table>