<h1 class="mb-4">管理者ダッシュボード</h1>
<div class="container">

<table class="table table-striped table-hover">
<thead>
<tr>
<th>ID</th>
<th>名前</th>
<th>メールアドレス</th>
<th>アクション</th>
</tr>
</thead>
<tbody>
<% @users.each do |user|%>
  <tr>
  <td><%=user.id%></td>
  <td><%=user.name%></td>
  <td><%=user.email%></td>
  <td>
  <%=link_to '詳細',admin_user_path(user),class: 'btn btn-sm btn-secondary'%>
 <%= link_to '削除する', delete_admin_user_path(user), method: :delete, data: { confirm: "本当に削除しますか？" },class: 'btn btn-sm btn-danger' %>
  </td>
 </tr>
  <%end%>
  </tbody>
  </table>
  </div>