<h1 class="mb-4">管理者ログイン</h1>
<div class="container">
<%= form_with model: resource, url: session_path(resource_name), local: true do |f| %>


  <div class="mb-3">
    <%= f.label :email ,'メールアドレス',class: 'form-label'%><br />
    <%= f.email_field :email, class: 'form-control',  autofocus: true, autocomplete: "email" %>
  </div>

  <div class="mb-3">
    <%= f.label :password , 'パスワード',class: 'form-label'%><br />
    <%= f.password_field :password,class: 'form-control', autocomplete: "current-password" %>
  </div>

  <div class="mb-3">
    <%= f.submit "ログイン" , class: 'btn btn-primary'%>
  </div>
<% end %>
</div>

