<% if user_signed_in? %>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <div>
      <%= f.label :model, '検索対象' %>
      <%= f.select :model, [['ユーザー', 'user'], ['投稿', 'post']] %>
    </div>
    <div>
      <%= f.label :content, 'キーワード' %>
      <%= f.text_field :content %>
    </div>
    <%= f.submit '検索' %>
  <% end %>
<% end %>
