<h1>検索結果</h1>

<% if @model == 'user' %>
  <h3>Users search for "<%= @content %>"</h3>
  <% if @results.present? %>
    <ul>
      <% @results.each do |user| %>
        <li><%= link_to user.name, user_path(user) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No users found.</p>
  <% end %>
<% elsif @model == 'post' %>
  <h3>Posts search for "<%= @content %>"</h3>
  <% if @results.present? %>
    <ul>
      <% @results.each do |post| %>
        <li>
          <strong><%= link_to post.title, post_path(post) %></strong>
          <p><%= post.content %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No posts found.</p>
  <% end %>
<% end %>

