<h1 class="mb-4">検索結果</h1>
<div class="container">
<% if @model == 'user' %>
  <h3>Users search for "<%= @content %>"</h3>
  <% if @results.present? %>
    <ul class="list-group">
      <% @results.each do |user| %>
        <li class="list-group-item">
        <%= link_to user.name, user_path(user) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No users found.</p>
  <% end %>
<% elsif @model == 'post' %>
  <h3>Posts search for "<%= @content %>"</h3>
  <% if @results.present? %>
    <ul class="list-group">
      <% @results.each do |post| %>
        <li class="list-group-item">
          <strong><%= link_to post.title, post_path(post) %></strong>
          <p><%= post.content %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No posts found.</p>
  <% end %>
<% end %>
</div>

