<div class="container">
  
  <%=render 'layouts/list',user: @post.user,post: Post.new%>
  
  <div>
    <h2>投稿の詳細について</h2>
    <table>
      <tr>
        <td>
          <%=link_to (@post.user) do%>
          <%=image_tag @post.user.get_profile_image(100,100)%><br>
          <%=@post.user.name%>
          <%end%>
        </td>
        <td><%=link_to @post.title,@post%></td>
        <td><%=@post.content%></td>
        <% if @post.user==current_user%>
        <%=link_to '編集',edit_post_path(@post)%>
        <%=link_to '削除',post_path(@post),method: :delete, data:{confirm:'本当に削除しますか？'}%>
        <%end%>
    <%=link_to '戻る',posts_path%>
      </tr>
    </table>
  </div>
</div>










