<div class="mb-4">
<h2>あなたのプロフィール</h2>
<table class="table table-striped table-hover">
   <thead>
  <tr>
  <th>画像</th>
  <th>名前</th>
  <th>一言</th>
  </tr>
   </thead>
  <tbody>
  <tr>
  <td><%=image_tag user.get_profile_image(50,50)%></td>
  <td><%=user.name%></td>
  <td><%=user.introduction%></td>
  <td><%=link_to '編集',edit_user_path(@user),class: 'btn btn-sm btn-primary'%></td>
  </tr>
  </tbody>
  </table>
</div>

<h2 class="mb-3">新規投稿</h2>
<%=form_with model: post,local: true do |f|%>
<div class="mb-3">
 <%=f.label :title,"タイトル", class: 'form-label'%>
 <%=f.text_field :title,  class: 'form-control'%>
</div>
<div class="mb-3">
  <%=f.label :content,"コメント",class: 'form-label'%>
  <%=f.text_area :content, class: 'form-control'%>
</div>
<div class="mb-3">
  <%=f.submit '投稿',class: 'btn btn-primary'%>
</div>
<%end%>