<!DOCTYPE html>
<html>
  <head>
    <title>Lifenote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <header>
      <nav
        <% if user_signed_in? %>
        <li>
        <%=link_to  'ホーム',user_path(current_user)%>
         </li>
         <li>
         <%=link_to 'ユーザー', users_path%>
        </li>
        <li>
          <%=link_to '投稿',posts_path%>
        </li>
        <li>
        <%=link_to 'ログアウト',destroy_user_session_path,method: :delete%>
        </li>
        <%else%>
          <li>
         <%=link_to 'ホーム', root_path%>
        </li>
        <li>
          <%=link_to 'このサイトについて',about_path%>
        </li>
        <li>
        <%=link_to '新規登録', new_user_registration_path%> 
        </li>
        <li>
          <%=link_to 'ログイン',new_user_session_path%>
        </li>
       <%end%>
      </nav>
    </header>
    
    
    
     <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
